a{
    font-weight: bold;
    text-decoration: none;
    color: purple;

}

a:visited{
    color: palevioletred;
}

a:hover{
    text-decoration: underline;
}

.especial:hover{
    color: pink;
    background-color: aquamarine;
    text-decoration: none;
}

.especial::before{
    content: '>>';
    font-weight: lighter;
}

.especial::after{
    content: '<<';
    font-weight: lighter;
}
body{
    background-color: rgb(223, 198, 162);
}

div > p{
    display: none;

}

div:hover > p{
    display: block;
    background-color: purple;
}